<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Dabbang has a song " <%= song %> " </h1>
        <h1>Hello, rendering from ejs file</h1>
    </body>
</html>