body{
    text-align: center;
    margin: 0;
    font-family: sans-serif;
    /* background-color: grey; */
    padding-left: 15%;
    margin-right: 15%;
    
}

#page-heading{
    text-align: center;
    margin-top: 25px;
    color: gray;
}


.details{
    padding: 10px;
    margin: auto;  
}

#contacts-list-container{
    background-color: gray;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contact{
    background-color: aqua;
    text-align: left;
}
.delete-button{
    padding: 10px;
}

.details{
    border: 2px solid white;
    padding: 20px;
    margin: 20px;
}